!!!
%html
  %head
    %title Chat Lobby
  %body
    %h1 Raptor Chat
    %p
      "Velociraptor's a pack hunter, you see, he uses coordinated attack patterns and he is out in force today." - Jurassic Park

    %form{ action: '/identify', method: 'POST'}
      %label{ for: 'handle' }
        Handle
      %input{ type: 'text', id: 'handle', name: 'handle' }
      %input{ type: 'submit' }

