!!!
%html
  %head
    %title Websocket Test
  %body
    %h1
      %span#count
        0
      Messages/Sec
    %script{src: "/raptor.min.js"}
    :javascript
      var count = 0
      Raptor.log = function(data) {
        console.log('\t\t', data);
      };
      var raptor = new Raptor('765ec374ae0a69f4ce44');
      raptor.bind('raptor:error', function(data) { alert(data['message']) })
      var myChannel = raptor.subscribe('#{@channel}');
      myChannel.bind('an_event', function(data) {
        count++
      })
      window.setInterval(function() {
        document.getElementById('count').innerHTML = count
        count = 0
      }, 1000)
